In [1]:
# Importing libraries

import pandas as pd    
import numpy as np
import pandas_profiling
import keras
from keras.models import Sequential
from keras.layers import Dense

# Reading data to Dataframes
  
data_train = pd.read_csv('../titanic/train.csv')
data_test = pd.read_csv('../titanic/test.csv')
data_check = pd.read_csv('../titanic/TITANIC_REAL_TEST.csv')

Using TensorFlow backend.

In [2]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:

#preenchendo valores faltantes com a m√©dia
values = {'Age': data_train.Age.mode()[0]}
data_train.fillna(value = values, inplace = True)

values = {'Age': data_test.Age.mode()[0]}
data_test.fillna(value = values, inplace = True)

#mudando o tipo de dado
data_train.Sex = data_train.Sex.astype('category')
data_train.Age = data_train.Age.astype('int32')

data_test.Sex = data_test.Sex.astype('category')
data_test.Age = data_test.Age.astype('int32')

In [4]:
data_train = data_train.drop(['Name','Ticket','Fare','Cabin','Embarked'],axis =1)

data_test = data_test.drop(['Name','Ticket','Fare','Cabin','Embarked'],axis =1)

In [5]:
# create dummies for pitching team, batting team, pitcher id, batter id
#0 para masculino e 1 para feminino
dummies = pd.get_dummies(data_train['Sex'])
data_train['Sex'] = dummies


dummies = pd.get_dummies(data_test['Sex'])
data_test['Sex'] = dummies

In [6]:
data_train.head()

   PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch
0            1         0       3    0   22      1      0
1            2         1       1    1   38      1      0
2            3         1       3    1   26      0      0
3            4         1       1    1   35      1      0
4            5         0       3    0   35      0      0

In [7]:
#y_train = data_train['Survived'] 
x_test = data_test[['Pclass', 'Sex', 'Age', 'SibSp' , 'Parch'] ]

x_train = data_train[['Pclass', 'Sex', 'Age', 'SibSp' , 'Parch'] ]

In [8]:
x_train_male = x_train.query('Sex == 0')
x_train_female = x_train.query('Sex == 1')

In [9]:
y_train_male = data_train[['Survived' , 'Sex']]
y_train_male = y_train_male.query('Sex == 0')
y_train_male = y_train_male[['Survived']] 

y_train_female = data_train[['Survived' , 'Sex']]
y_train_female = y_train_female.query('Sex == 1')
y_train_female = y_train_female[['Survived']]

In [10]:
x_train_male

     Pclass  Sex  Age  SibSp  Parch
0         3    0   22      1      0
4         3    0   35      0      0
5         3    0   24      0      0
6         1    0   54      0      0
7         3    0    2      3      1
..      ...  ...  ...    ...    ...
883       2    0   28      0      0
884       3    0   25      0      0
886       2    0   27      0      0
889       1    0   26      0      0
890       3    0   32      0      0

[577 rows x 5 columns]

In [11]:
#criando o modelo
male_classifier = Sequential()

#Input layer with 5 inputs neurons
male_classifier.add(Dense(output_dim = 5, init = 'uniform', activation = 'relu', input_dim = 5))
#Hidden layer
male_classifier.add(Dense(output_dim = 5, init = 'uniform', activation = 'relu'))
#Hidden layer
male_classifier.add(Dense(output_dim = 5, init = 'uniform', activation = 'relu'))
#output layer with 1 output neuron which will predict 1 or 0
male_classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

In [12]:
male_classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
female_classifier = male_classifier

In [13]:
x_train_male

     Pclass  Sex  Age  SibSp  Parch
0         3    0   22      1      0
4         3    0   35      0      0
5         3    0   24      0      0
6         1    0   54      0      0
7         3    0    2      3      1
..      ...  ...  ...    ...    ...
883       2    0   28      0      0
884       3    0   25      0      0
886       2    0   27      0      0
889       1    0   26      0      0
890       3    0   32      0      0

[577 rows x 5 columns]

In [14]:
male_classifier.fit(x_train_male, y_train_male, batch_size = 3, nb_epoch = 25)

Epoch 1/25
577/577 [==============================] - 2s 3ms/step - loss: 0.6273 - accuracy: 0.8059
Epoch 2/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4798 - accuracy: 0.8111
Epoch 3/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4811 - accuracy: 0.8111
Epoch 4/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4787 - accuracy: 0.8111
Epoch 5/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4806 - accuracy: 0.8111
Epoch 6/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4778 - accuracy: 0.8111
Epoch 7/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4756 - accuracy: 0.8111
Epoch 8/25
577/577 [==============================] - 1s 2ms/step - loss: 0.4749 - accuracy: 0.8111
Epoch 9/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4724 - accuracy: 0.8111
Epoch 10/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4710 - accuracy: 0.8111
Epoch 11/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4691 - accuracy: 0.8111
Epoch 12/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4684 - accuracy: 0.8111
Epoch 13/25
577/577 [==============================] - 1s 2ms/step - loss: 0.4660 - accuracy: 0.8111
Epoch 14/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4661 - accuracy: 0.8111
Epoch 15/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4627 - accuracy: 0.8111
Epoch 16/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4601 - accuracy: 0.8111
Epoch 17/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4584 - accuracy: 0.8111
Epoch 18/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4566 - accuracy: 0.8111
Epoch 19/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4526 - accuracy: 0.8146
Epoch 20/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4455 - accuracy: 0.8284
Epoch 21/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4391 - accuracy: 0.8336
Epoch 22/25
577/577 [==============================] - 1s 2ms/step - loss: 0.4347 - accuracy: 0.8354
Epoch 23/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4317 - accuracy: 0.8371
Epoch 24/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4283 - accuracy: 0.8388
Epoch 25/25
577/577 [==============================] - 1s 1ms/step - loss: 0.4226 - accuracy: 0.8406

In [15]:
female_classifier.fit(x_train_female, y_train_female, batch_size = 3, nb_epoch = 25)

Epoch 1/25
314/314 [==============================] - 0s 1ms/step - loss: 0.6773 - accuracy: 0.6815
Epoch 2/25
314/314 [==============================] - 0s 1ms/step - loss: 0.5462 - accuracy: 0.7580
Epoch 3/25
314/314 [==============================] - 0s 1ms/step - loss: 0.5283 - accuracy: 0.7643
Epoch 4/25
314/314 [==============================] - 1s 2ms/step - loss: 0.5164 - accuracy: 0.7834
Epoch 5/25
314/314 [==============================] - 0s 1ms/step - loss: 0.5038 - accuracy: 0.7739
Epoch 6/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4888 - accuracy: 0.7803
Epoch 7/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4827 - accuracy: 0.7803
Epoch 8/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4805 - accuracy: 0.7866
Epoch 9/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4712 - accuracy: 0.7834
Epoch 10/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4690 - accuracy: 0.7771
Epoch 11/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4688 - accuracy: 0.7739
Epoch 12/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4623 - accuracy: 0.7771
Epoch 13/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4571 - accuracy: 0.7866
Epoch 14/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4605 - accuracy: 0.7930
Epoch 15/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4604 - accuracy: 0.7675
Epoch 16/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4513 - accuracy: 0.7803
Epoch 17/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4501 - accuracy: 0.7930
Epoch 18/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4533 - accuracy: 0.7739
Epoch 19/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4457 - accuracy: 0.7834
Epoch 20/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4448 - accuracy: 0.7803
Epoch 21/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4422 - accuracy: 0.7962
Epoch 22/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4384 - accuracy: 0.7994
Epoch 23/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4411 - accuracy: 0.7930
Epoch 24/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4377 - accuracy: 0.7962
Epoch 25/25
314/314 [==============================] - 0s 1ms/step - loss: 0.4351 - accuracy: 0.8089

In [16]:
previsao = []
for linha in x_test.itertuples() :
        if linha.Sex == 0:
                x =  pd.DataFrame(linha[1:6])
                previsao.append(male_classifier.predict(x.T))
        if linha.Sex == 1:
                x =  pd.DataFrame(linha[1:6])
                previsao.append(female_classifier.predict(x.T))


data_check['check'] = previsao
data_check['check'] = data_check['check'].str.get(0)

series = []
for val in data_check.check:
    if val >= 0.5:
        series.append(1)
    else:
        series.append(0)
data_check['final'] = series

In [17]:
data_check.to_csv('out.csv', index=False )

In [18]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(data_check['Survived'], data_check['final']))

[[ 84 175]
 [ 25 134]]